<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Navigation Bar-->
<app-navbar></app-navbar>

<div style="text-align:center">
  <h1>Welcome to {{ title }}</h1>

</div>

<h2>Here are some links to help you start:</h2>
<ul>
  <li>
    <h2><a href="https://angular.io/tutorial" target="_blank" rel="noopener">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a href="https://angular.io/cli" target="_blank" rel="noopener">CLI Documentaion</a></h2>
  </li>
  <li>
    <h2><a href="https://angular.io/" target="_blank" rel="noopener">Angular Blog</a></h2>
  </li>

</ul>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
